# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Imporing Data

In [2]:
# create path 
path = r'C:\Users\smerg\Instacart Grocery Basket Analysis'
# order wrangled
df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
# product data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'products.csv'), index_col = False)

In [3]:
df_ords

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,10,5,18,29.0
3421079,3421079,1854736,206209,11,4,10,30.0
3421080,3421080,626363,206209,12,1,12,18.0
3421081,3421081,2977660,206209,13,1,12,7.0
3421082,3421082,272231,206209,14,6,14,30.0

# Data Consistency Checks

In [4]:
# Checking for missing values
print(df_ords.isnull().sum())

# Checking for duplicates
print(df_ords.duplicated().sum())

# Checking data types
print(df_ords.dtypes)

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64
0
Unnamed: 0                  int64
order_id                    int64
user_id                     int64
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [5]:
# provides statistics like count, mean, std
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [6]:
#compare the number of rows in your current dataframe
df_ords.shape

(3421083, 7)

#  Mixed-Type Data

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [8]:
# create a dataframe
df_test = pd.DataFrame()

In [9]:
# create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [10]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [11]:
# check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\smerg\AppData\Local\Temp\ipykernel_11808\2671172800.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [12]:
df_test['mix'] = df_test['mix'].astype('str')

In [13]:
# Checking for missing values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

#Identify columns with missing values and consider the potential reasons. Missing values might be due to: 
#Data entry errors 
#Unavailable information at the time of data collection

In [14]:
#Fill missing values with the median of the column
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].mean()

#The choice of imputation was made because missing values in order_quantity likely represent missing data points rather than structural zeros. Using the mean provides a neutral estimate.

In [15]:
df_ords

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,11.114836
1,1,2398795,1,2,3,7,11.114836
2,2,473747,1,3,3,12,11.114836
3,3,2254736,1,4,4,7,11.114836
4,4,431534,1,5,4,15,11.114836
...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,10,5,18,11.114836
3421079,3421079,1854736,206209,11,4,10,11.114836
3421080,3421080,626363,206209,12,1,12,11.114836
3421081,3421081,2977660,206209,13,1,12,11.114836
3421082,3421082,272231,206209,14,6,14,11.114836

In [16]:
#compare the number of rows in your current dataframe
df_ords.shape

(3421083, 7)

In [17]:
#cleaning data
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [18]:
#compare the number of rows in your current dataframe in cleaned data
df_ords_clean.shape

(3421083, 7)

In [19]:
# another way to clean data
df_ords.dropna(inplace = True)

In [20]:
# command to drop only the NaNs from a particular column
df_ords.dropna(subset = ['days_since_prior_order'], inplace = True)

In [21]:
#will look for full duplicates within your dataframe
df_dups = df_ords_clean[df_ords_clean.duplicated()]

#Duplicated rows might result from errors during data entry or merging of datasets.

In [22]:
#duplicate rows that it finds are saved within the new df_dups dataframe
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [23]:
df_ords_clean.shape

(3421083, 7)

In [24]:
df_ords_clean_no_dups = df_ords_clean.drop_duplicates()

In [25]:
df_ords_clean_no_dups.shape

(3421083, 7)

In [26]:
#export product data frame
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))
#export orders data frame
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))